spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ec_portfolio?serverTimezone=Asia/Tokyo
    username: ${DB_USER}
    password: ${DB_PASS}
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
